@import url('https://fonts.googleapis.com/css2?family=Koulen&family=VT323&display=swap');


* {
  font-family: 'Koulen', cursive;
  /* font-family: 'VT323', monospace; */
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  width: 300px;
}